h1{display: flex;
  justify-content: center; 
  text-align: center;
    
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 100px;
   
  padding-top: 20px;
  margin: 0%;
   
  text-underline-offset: 20px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: whitesmoke;    
  margin-block:  1rem;
  color: whitesmoke;
  }




.events {
  height: 50vh;
}

.top-part{
  /* display: flex; */
}
h2, h3 {
  display: block;
  justify-content: left; 
  text-align: left;
  color: #ABA104;    
  font-family: 'Times New Roman', Times, serif;
  font-weight: 50;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1rem; 
}

h4 {
  display: block;
  justify-content: left; 
  text-align: left;
  color: #083B66;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 50;
  font-size: 15px;
  font-weight: bold;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.menu-container {
   background-color: #083B66;
   overflow: hidden;
   display: flex;
   justify-content: center; 
}

.menu-container a {
   float: left;
   color: #ABA104;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 /* Change the color of links when cursor hovers over ir*/
 .menu-container a:hover {
   background-color: #ddd;
 
 }
 
 /* Add a color to the active/current link */
 .menu-container a.active {
   background-color: #ABA104;
   color: #083B66;
 }

 .badge{
   width: 7%;
   height: auto;
   }

        .line {
          border-left: 6px #ABA104;
          height: 500px;
          position: absolute;
          left: 50%;
          margin-left: -3px;
          top: 0;
        }

.top-part{
  display: flex;
  justify-content: center;

}
.words{
  margin-right: 45px;
  margin-top: 110px;
  min-width: -5vw;
  height: 10vh;
}

.image{
  margin-right: 50%;
  height: 20%;
  width: 80%;
}

.image1 {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 30vw;
}

.image1 p {
  text-align: center;
  margin-left: 1rem;
  
}

.image2 {
  display: flex;
  flex-direction: column;
  width: 500px;

}

image2 p{
  text-align: center;
  margin-left: 1rem;
}

.feeding scheme {
  margin-right: 80px;
  height: 300px;
  width: 500px;
}

.school grounds upgraded {
  margin-right: 80px;
  height: 300px;
  width: 500px;
}

.image3 {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.image3 p {
  text-align: center;
  margin-left: 1rem;
  
}

.image4 {
  display: flex;
  flex-direction: column;
  width: 500px;

}

image4 p{
  text-align: center;
  margin-left: 1rem;
}

.bottom-part{
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
}

.content-container{
  width: 40%;
  margin: 20px;
  padding: 5px;
  border: 4px solid black;
  border-radius: 0.5rem;
  background-color: #083B66;
  color: #ABA104;
}

.body-container{
  display: block;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  text-align: justify;
  margin-bottom: 1rem;
}
#check{
  display: none;
}
.readmore1{
  display: none;
  transition: 0.5s linear;
}

label{
  display: inline-block;
  margin-top: 15px;
  color: #ABA104;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

#check:checked ~ .readmore1{
  display: block;
}

#check:checked ~ label{
  visibility: hidden;
}

#check:checked ~ label:after {
  content: 'Show Less';
  display: block;
  visibility: visible;
}

#check2{
  display: none;
}

.readmore2{
  display: none;
  transition: 0.5s linear;
}

#check2:checked ~ .readmore2{
  display: block;
}

#check2:checked ~ label{
  visibility: hidden;
}

#check2:checked ~ label:after {
  content: 'Show Less';
  display: block;
  visibility: visible;
}

#check3{
  display: none;
}

.readmore3{
  display: none;
  transition: 0.5s linear;
}

#check3:checked ~ .readmore3{
  display: block;
}

#check3:checked ~ label{
  visibility: hidden;
}

#check3:checked ~ label:after {
  content: 'Show Less';
  display: block;
  visibility: visible;
}

#check4{
  display: none;
}

.readmore4{
  display: none;
  transition: 0.5s linear;
}

#check4:checked ~ .readmore4{
  display: block;
}

#check4:checked ~ label{
  visibility: hidden;
}

#check4:checked ~ label:after {
  content: 'Show Less';
  display: block;
  visibility: visible;
}


#check5{
  display: none;
}

.readmore5{
  display: none;
  transition: 0.5s linear;
}

#check5:checked ~ .readmore5{
  display: block;
}

#check5:checked ~ label{
  visibility: hidden;
}

#check5:checked ~ label:after {
  content: 'Show Less';
  display: block;
  visibility: visible;
}


#check6{
  display: none;
}

.readmore6{
  display: none;
  transition: 0.5s linear;
}

#check6:checked ~ .readmore6{
  display: block;
}

#check6:checked ~ label{
  visibility: hidden;
}

#check6:checked ~ label:after {
  content: 'Show Less';
  display: block;
  visibility: visible;
}


#check7{
  display: none;
}

.readmore7{
  display: none;
  transition: 0.5s linear;
}

#check7:checked ~ .readmore7{
  display: block;
}

#check7:checked ~ label{
  visibility: hidden;
}

#check7:checked ~ label:after {
  content: 'Show Less';
  display: block;
  visibility: visible;
}


#check8{
  display: none;
}

.readmore8{
  display: none;
  transition: 0.5s linear;
}

#check8:checked ~ .readmore8{
  display: block;
}

#check8:checked ~ label{
  visibility: hidden;
}

#check8:checked ~ label:after {
  content: 'Show Less';
  display: block;
  visibility: visible;
}

.pages {
  width: 200px;
  display: flex;
  margin-left: 35%;
  min-width: 30vw;
  flex: auto;
  height: 4vh;
  }

  input{
    width: 100px;
  }

  .social-image{
    width: 5%;
}

footer{
    background: #083B66;
    height: auto;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 40px;
    color: #ABA104;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-container h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: .1rem;
}

.footer-container p{
    max-width: 100%;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #ABA104;
}

.socials a i{
    font-size: 1.1rem;
}

.footer-bottom{
    background: #ABA104;
    color: #083B66;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    font-weight: bold;
    opacity: .7;
    font-weight: 200;
}

.img-fluid {
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
}

/* Style the search field */
form.example input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  float: left;
  max-width: 500vh;
  background: #f1f1f1;
  position: relative;
  /* right: 30px; */
  width: 12rem;
}

/* Style the submit button */
form.example button {
  float: right;
  max-width: 600vw;
  padding: 10px;
  background: #083B66;
  color: white;
  font-size: 17px;
  border: 2px solid #083B66;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  position: relative;
  /* right: 0px; */
  width: 2%;
  height: 41.1px;
}

form.example button:hover {
  background: #0b7dda;
  max-width: 300px
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
  max-width: 300px
}

@media (max-width: 789px){
  .top-part{
    flex-direction: column;
    align-items: center;
  }
  .bottom-part{
    flex-direction: column;
    align-items: center;
  }
  
  .page {
    flex-direction: column;
    text-align: center;
  }
  form.example::after {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  form.example input[type=text]{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  form.example button:hover {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  form.example button {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  form.example input[type=text] {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .example {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
  }
}

.example{
  display: flex;
  justify-content: center;
  align-items: center;
}

#showcase {
  height: 400px;
}

#showcase h1 {
  line-height: 1.3;
  position: relative;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-weight: 200;
  font-size: 100px;
}

@keyframes heading {
  0%   {top: -100px; }
  100% {top: 50px}
}

#content {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0%   {left: -1000px; }
  100% {left: 0;}
}

#content {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0%   {left: -1000px; }
  100% {left: 0;}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.35s linear;
}

* section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.90s linear;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  
}


.page {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: #083B66; 
  justify-content: flex-start;
  align-items: center;
  min-height: 13vh;
}

.page li {
  margin: 0.25rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: #ABA104;
}



.page a:hover li {
  border-color: #ABA104;
  color: #ededed;
}

.page a.active li {
  background-color: #ABA104;
  color: white;
  border-color: #ABA104;
  font-weight: 600;
  box-shadow: 0 0.5rem 1rem #ff52f136;
}


main {
  position: relative;
  padding: 1rem 1rem 3rem;
  min-height: calc(100vh - 4rem);
}



.hidden {
  display: none;
}

.pagination-container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-number, .pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover, .pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
    font-size: 1.1rem;
    margin: 0;
    color: #27253d;
    background: #e6f3f8;
}

.slider{
  width: 40vw;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 40vw;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
  height: 40vh;
}

.slide img{
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
  border-radius: 0.5rem;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#checkbox1:checked ~ .first{
  margin-left: 0;
}

#checkbox2:checked ~ .first{
  margin-left: -20%;
}

#checkbox3:checked ~ .first{
  margin-left: -40%;
}

#checkbox4:checked ~ .first{
  margin-left: -60%;
}



/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}


#checkbox1:checked ~ .navigation-auto .semi-btn1{
  background: #40D3DC;
}

#checkbox2:checked ~ .navigation-auto .semi-btn2{
  background: #40D3DC;
}

#checkbox3:checked ~ .navigation-auto .semi-btn3{
  background: #40D3DC;
}

#checkbox4:checked ~ .navigation-auto .semi-btn4{
  background: #40D3DC;
}
      

.slider{
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}




/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 30s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
      
.main-wrapper{
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 63vh;
}
.slider-wrapper{
  width: 100%;
  height: 800px; 
  display: flex;
  align-items: center;
  position: relative;
  margin: auto;
  overflow: hidden;

 
 
 
}

.slides{
  width: 100%;
  position: absolute;
  transition: transform .4s ease-in-out;
}
.slides h1{
  
  position: relative;
  top: 5rem;
  left: 1rem;
  backdrop-filter: blur(7px);
  width: 9rem;
  padding: 1rem;

}
.slides img{
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
  border-radius: 0.5rem;
}

.slides1{
  width: 100%;
  position: absolute;
  transition: transform .4s ease-in-out;
}
.slides1 h1{
  
  position: relative;
  top: 5rem;
  left: 1rem;
  backdrop-filter: blur(7px);
  width: 9rem;
  padding: 1rem;

}
.slides1 img{
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
  border-radius: 0.5rem;
}
.slides2{
  width: 100%;
  position: absolute;
  transition: transform .4s ease-in-out;
}
.slides2 h1{
  
  position: relative;
  top: 5rem;
  left: 1rem;
  backdrop-filter: blur(7px);
  width: 9rem;
  padding: 1rem;

}
.slides2 img{
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
  border-radius: 0.5rem;
}

.slides3{
  width: 100%;
  position: absolute;
  transition: transform .4s ease-in-out;
}
.slides3 h1{
  
  position: relative;
  top: 5rem;
  left: 1rem;
  backdrop-filter: blur(7px);
  width: 9rem;
  padding: 1rem;

}
.slides3 img{
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
  border-radius: 0.5rem;
}

.slides4{
  width: 100%;
  position: absolute;
  transition: transform .4s ease-in-out;
}
.slides4 h1{
  
  position: relative;
  top: 5rem;
  left: 1rem;
  backdrop-filter: blur(7px);
  width: 9rem;
  padding: 1rem;

}
.slides4 img{
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
  border-radius: 0.5rem;
}

.slides5{
  width: 100%;
  position: absolute;
  transition: transform .4s ease-in-out;
}
.slides5 h1{
  
  position: relative;
  top: 5rem;
  left: 1rem;
  backdrop-filter: blur(7px);
  width: 9rem;
  padding: 1rem;

}
.slides5 img{
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
  border-radius: 0.5rem;
}

.slides6{
  width: 100%;
  position: absolute;
  transition: transform .4s ease-in-out;
}
.slides6 h1{
  
  position: relative;
  top: 5rem;
  left: 1rem;
  backdrop-filter: blur(7px);
  width: 9rem;
  padding: 1rem;

}
.slides6 img{
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
  border-radius: 0.5rem;
}

.slides7{
  width: 100%;
  position: absolute;
  transition: transform .4s ease-in-out;
}
.slides7 h1{
  
  position: relative;
  top: 5rem;
  left: 1rem;
  backdrop-filter: blur(7px);
  width: 9rem;
  padding: 1rem;

}
.slides7 img{
  max-width: 100%;
  height: 40vh;
  align-content: center;
  width: 40vw;
  border-radius: 0.5rem;
}

.dots{
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.dots .dot{
  width: 1rem;
  height: 1rem;
  background-color: white;
  opacity: .2;
  border-radius: 50%;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.dots1{
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.dots1 .dot1{
  width: 1rem;
  height: 1rem;
  background-color: white;
  opacity: .2;
  border-radius: 50%;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.dots2{
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.dots2 .dot2{
  width: 1rem;
  height: 1rem;
  background-color: white;
  opacity: .2;
  border-radius: 50%;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}


.dots3{
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.dots3 .dot3{
  width: 1rem;
  height: 1rem;
  background-color: white;
  opacity: .2;
  border-radius: 50%;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}


.dots4{
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.dots4 .dot4{
  width: 1rem;
  height: 1rem;
  background-color: white;
  opacity: .2;
  border-radius: 50%;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.dots5{
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.dots5 .dot5{
  width: 1rem;
  height: 1rem;
  background-color: white;
  opacity: .2;
  border-radius: 50%;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.dots6{
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.dots6 .dot6{
  width: 1rem;
  height: 1rem;
  background-color: white;
  opacity: .2;
  border-radius: 50%;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.dots7{
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.dots7 .dot7{
  width: 1rem;
  height: 1rem;
  background-color: white;
  opacity: .2;
  border-radius: 50%;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}


@media screen and (max-width:950px) {
  .slider-wrapper{
    width: 70%;
    height: 50%;
  }
}

@media screen and (max-width:680px) {
  .slider-wrapper{
    width: 90%;
    height: 50%;
  }
}


.container {

}

.wrapper {
  margin: 0 auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.15);
  position: relative;
  width: 310px;
}

input {
  width:100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  padding: 0px 40px 0px 10px;
  font-size: 18px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

input:focus {
  outline: none;
}

.django {
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  padding: 0;
  width: 50px;
}

button:focus {
  outline: none;
}

button i {
  width: 100%;
  color: #083B66;
  line-height: 50px;
  font-size: 22px;
}

.results {
  padding: 0px;
}

.results ul {margin: 0; padding: 0; }
.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all .5s linear;
}

.show .results ul li {
  opacity: 1;
  display: block;
}

.show .results {
  padding: 10px;
}

.results ul li:hover {
  background: #ececec
}


